@{
    ViewBag.Title = "Index";
}

<div class="logo">
    @if (@ViewBag.Name!=""){<p>Привет @ViewBag.Name</p>}
                                                      else {<p>Доброго времени суток ;-)</p>}
    <p>У нас есть <b>ИДЕЯ! </b></p>
   </div>
@foreach (var t in ViewBag.Role)
{ 
    @t.id <br>
    @t.Name
}

    <div id="what" class="newButton">
        @using (Html.BeginForm("New_Quest", "Home", FormMethod.Get))
        {
            <input type="submit" value="Создать Квест!" class="button"/>
        }
        
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="logoff" class="button" />
        }
        
    </div>
</div>

