@model IEnumerable<Queste.Models.Quest>

@{
    ViewBag.Title = "List_Of_Quests";
}

<h2>List_Of_Quests</h2>
<div class="central-side">
<table>
    <tr>
        <th>
            №
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        @if (HttpContext.Current.User.IsInRole("Администратор")) { 
        <th>
            Удалить
        </th>
        }
    </tr>

@if (Model != null)
{
    int i =0;
    foreach (var item in Model)
    {
        i++;
    <tr>
        <td>
            @i
            @Html.Hidden("id",item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
               
        <td>
            @Html.ActionLink("Подробнее", "Quest_Detail", "Home", new { id = @item.Id }, null)
            
        </td>
        @if (HttpContext.Current.User.IsInRole("Администратор"))
        {
            <td>
                @Html.ActionLink("Удалить", "DeleteQuest", "Home", new { id = @item.Id }, null)
            </td>
        }
    </tr>
    }
}

</table>
</div>