@model Queste.Models.UserEvent

@{
    ViewBag.Title = "New_Event";
}

<h2>New_Event</h2>

@using (Html.BeginForm("New_Event", "Home", FormMethod.Post, new { @class = "New Form"}))
{
    <fieldset>
        @Html.HiddenFor(m => m.Id)
        <p>
            @Html.LabelFor(m=>m.What, "Что?")
            <br />
            @Html.EditorFor(m => m.What)
        </p>
        <p>
            @Html.LabelFor(m => m.Where, "Где?")
            <br />
            @Html.EditorFor(m => m.Where)
        </p>
        <p>
            @Html.LabelFor(m => m.When, "Когда?")
            @Html.ValidationMessageFor(m => m.When, "тип дата")
            <br />
            @Html.EditorFor(m => m.When)
            
        </p>
        
        <p><input type="submit" value="Создать" /></p>
    </fieldset>
}