@model Queste.Models.LogOnModel
@{
    ViewBag.Title = "Вход в систему";
}
<h2>Вход в систему</h2>
<div class="central-side">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Введите логин и пароль</legend>

            <div class="editor-label">
                @Html.LabelFor(model => model.UserName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.RememberMe)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.RememberMe)
                @Html.ValidationMessageFor(model => model.RememberMe)
            </div>

            <p>
                <input type="submit" value="Войти" />
            </p>


        </fieldset>
    }
</div> 
@using (Html.BeginForm("Register", "Account", FormMethod.Get))
{
    @Html.AntiForgeryToken()
    <input type="submit" value="Register" class="button" />
}